---
---

@import "{{ site.theme }}";

.inner {
  width: 100%;
  width: calc(100% - 2em);
  max-width: 60em;
  min-width: 5em;
}

footer {
  /* workaround to crappy hr.png hack */
  background-size: 100% auto;
}

